extends layout
block content
  h1 #{title}
  form(method='POST', action='/cloudlets/edit/'+cloudlet._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=cloudlet.name)
    #form-group
      label IP:
      input.form-control(name='ip', type='text',value=cloudlet.ip)
    #form-group
      label Network:
      input.form-control(name='network', type='text',value=cloudlet.network)
    #form-group
      label SSH-Key:
      textarea.form-control(name='ssh_key') = cloudlet.ssh_key
    #form-group
      label Role:
      input.form-control(name='role', type='text',,value=cloudlet.role)
      br
    input.btn.btn-primary(type='submit', value='Submit')
